// ----- IP information -----
.ip-information {
    &__title {
        font-size: 16px;
        font-weight: 500;
        color: var(--text-light-color);
        margin: 0;
    }

    &__head {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    &__ip {
        font-size: 35px;
        font-weight: 300;
        color: #000;
        margin: 0;
        word-break: break-all;
    }

    &__btn {
        width: 101px;
        height: 41px;
        border-radius: 6px;
        border: none;
        outline: 2px solid var(--primary-color);
        color: var(--primary-color);
        background-color: #fff;
        font-weight: bold;
        font-size: 16px;
        text-align: center;
        flex-shrink: 0;
        display: none;

        @media (min-width: 576px) {
            display: inline-flex;
            align-items: center;
            justify-content: center;
        }
    }

    &__items {
        display: grid;
        grid-template-columns: 1fr;
        gap: 0.75rem;
        margin-top: 0.75rem;

        @media (min-width: 576px) {
            grid-template-columns: 1fr 1fr;
            gap: 0;
            margin-top: 0;
        }
    }
}

.ip-information-item {
    display: flex;
    flex-direction: column;

    &__title {
        font-weight: bold;
        font-size: 14px;
        color: var(--text-light-color);
        margin: 0;
    }

    &__body {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 10px;
    }

    &__icon {
        color: var(--text-light-color);
        width: 20px;
        height: 20px;
    }

    &__value {
        font-weight: 400;
        font-size: 16px;
        color: #333;
        margin: 0 0.25rem;
    }
}
