:root {
    --primary-color: #1362C2;
    --text-regular-color: #474747;
    --text-light-color: #ABB5CC;
    --copied-color: #46C93A;
    --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono', 'Roboto Mono', 'Courier New', monospace;
}
